*{
    padding: 0;
    margin: 0;
}
.logo img{
    width: 180px;
    height: auto;
}
.nav{
    border-bottom: 1px gray solid;
    background: linear-gradient(0deg, #dcd7d7, transparent);
}
.head{
    font-size: 27px;
    width: 20%;
}
.width{
    width:60%   ;
}
.body input{
    margin-right:10px;
}
#sele{
    display: none;
}
.item-img{
    width: 26%;
    height: auto;
}
.summary{
    border: 1px gray solid;
    border-radius: 10px;
    padding: 30px;
}